* {
  margin: 0;
  padding: 0;
}

p {
  color: magenta;
}

main {
  margin: 5rem auto;
  border: 1px solid gray;
  background-color: lightgray;
  width: 75vw;
  max-width: 1000px;
  text-align: center;
  padding: 10px;
}
